@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");

$ey-font-path: "../fonts/ey-interstate/";
@import "./abstracts/ey-font";

@import "./abstracts/ey-colors";
@import "./abstracts/variables";

$image-path: "../img" !default;

html {
  background: $ey-gray-tint3;
  background: linear-gradient(to right, transparentize($ey-gray-tint3, 0.1), transparentize($ey-gray-tint3, 0.2)), url($image-path + '/bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: cover;
  font-size: 18px;
}

body {
  background-color: transparent;
  color: $ey-new-gray;
  font-family: "EYInterstate", "Noto Sans", Arial, sans-serif;
  font-size: 1em;
  font-weight: $regular;
}