// Bootstrap
@import "~bootstrap/scss/bootstrap";

// MDBootstrap
$roboto-font-path: "~mdbreact/dist/font/roboto/";
$image-path: "~mdbreact/dist/img";
@import "~mdbreact/dist/scss/mdb";

// Global defaults
@import "./abstracts/ey-colors";
@import "./abstracts/variables";

/*
 * Custom styles
 */

.container {
  min-width: 768px;
}

.btn-primary {
  background-color: $ey-link-blue !important;
  color: $white !important;
  &:not([disabled]) {
    &:not(.disabled) {
      &:active,
      &.active {
        border-color: $ey-gray-tint2;
        background-color: darken($ey-link-blue, 10%) !important;
      }
    }
  }
  &.disabled,
  &:disabled {
    -webkit-box-shadow: inset 0 2px 5px 0 transparentize($black, 0.84), inset 0 2px 10px 0 transparentize($black, 0.88);
    box-shadow: inset 0 2px 5px 0 transparentize($black, 0.84), inset 0 2px 10px 0 transparentize($black, 0.88);
    border-width: 0 !important;
    background-color: $ey-gray-tint2 !important;
    color: $ey-gray-tint1 !important;
    opacity: 1;
  }
}

.popover {
  max-width: 600px;
  -webkit-box-shadow: 0 1rem 3rem transparentize($black, 0.825);
  box-shadow: 0 1rem 3rem transparentize($black, 0.825);
  border-radius: .25rem;
  font-family: inherit;
  &.bs-popover-top {
    margin-top: .5rem;
    margin-bottom: 0;
    & > .arrow {
      top: calc((0.5rem + 1px) * -1);
      bottom: auto;
      &:before {
        top: 0;
        bottom: auto;
        border-width: 0 0.5rem 0.5rem 0.5rem;
        border-bottom-color: transparentize($black, 0.75);
      }
      &:after {
        top: 1px;
        bottom: auto;
        border-width: 0 0.5rem 0.5rem 0.5rem;
        border-bottom-color: $white;
      }
    }
  }
}

.popover-body {
  min-width: 550px;
  min-height: 400px;
}

.nav {
  margin-bottom: 1rem;
}

.nav-pills {
  .nav-link {
    border-radius: .125rem;
  }
  .nav-link {
    padding: .75rem 1rem;
    color: $black;
    font-size: .625rem;
    font-weight: $bold;
    text-transform: uppercase;
    opacity: .3;
    -webkit-transition: background-color $default-transition color $default-transition, opacity $default-transition;
    transition: background-color $default-transition color $default-transition, opacity $default-transition;
    &.active {
      background-color: transparentize($ey-link-blue, 0.9);
      color: $ey-link-blue;
      opacity: 1;
      pointer-events: none !important;
      &:hover {
        color: $ey-link-blue;
        opacity: 1;
      }
    }
    &:hover {
      opacity: .6;
    }
  }
}