// variables
$default-animation: .9s linear infinite;

// keyframes
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

// selectors
.blinking {
  animation: blink $default-animation;
}