$icons-font-path: "../../assets/fonts/custom-icons/" !default;

@font-face {
  font-family: "Custom Icons";
  src:  url($icons-font-path + "CustomIcons.eot");
  src:  url($icons-font-path + "CustomIcons.eot?#iefix") format("embedded-opentype"),
    url($icons-font-path + "CustomIcons.woff") format("woff"),
    url($icons-font-path + "CustomIcons.ttf") format("truetype"),
    url($icons-font-path + "CustomIcons.svg#CustomIcons") format("svg");
  font-style: normal;
  font-weight: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "Custom Icons" !important;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: inherit;
  vertical-align: -.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.size-18 {
    font-size: 18px !important;
  }
  &.size-24 {
    font-size: 24px !important;
  }
  &.size-36 {
    font-size: 36px !important;
  }
  &.size-48 {
    font-size: 48px !important;
  }
}

.icon-cattle,
.icon-cow,
.icon-farm {
  &:before {
    content: "\e900";
  }
}

.icon-industry,
.icon-factory {
  &:before {
    content: "\e901";
  }
}

.icon-warehouse {
  &:before {
    content: "\e902";
  }
}

.icon-store,
.icon-market {
  &:before {
    content: "\e903";
  }
}

.icon-forward,
.icon-arrow-right {
  &:before {
    content: "\e904";
  }
}

.icon-humidity,
.icon-rain,
.icon-water,
.icon-drop,
.icon-drops {
  &:before {
    content: "\e905";
  }
}

.icon-temperature,
.icon-air,
.icon-cold,
.icon-warm {
  &:before {
    content: "\e906";
  }
}

.icon-backward,
.icon-arrow-left {
  &:before {
    content: "\e907";
  }
}

.icon-new-tab {
  &:before {
    content: "\e908";
  }
}