@import "../../assets/scss/abstracts/ey-colors";
@import "../../assets/scss/abstracts/variables";

$border-size: 4px;
$button-size: 105px;
$icon-size: 48px;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

.step {
  flex-grow: 1;
  position: relative;
  text-align: center;
  .title {
    color: $ey-link-blue;
    font-size: .925em;
    font-weight: $bold;
    span {
      display: block;
      margin: 0 auto;
      max-width: 105px;
    }
    &.disabled {
      color: $ey-gray-tint2;
    }
  }
  .indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem auto .25rem;
    width: $button-size;
    height: $button-size;
    border: 4px $white solid;
    border-radius: 50%;
    padding: 0;
    & > img {
      max-width: $icon-size;
      max-height: $icon-size;
    }
    & + div {
      display: initial !important;
    }
  }
  &:after,
  &:before {
    position: absolute;
    bottom: $icon-size - $border-size;
    z-index: -1;
    width: 50%;
    height: $icon-size / 2;
    background-color: $white;
    content: "";
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  &.enabled {
    &:before {
      background-color: $ey-link-blue;
    }
    &:not(.current) {
      &:after {
        background-color: $ey-link-blue;
      }
    }
  }
}